
body > .tooltip {
	font-size:.8em!important;
}

a , a:link , a:visited , a:active { text-decoration:none; }
.row { 
	margin-right:0px!important;
	margin-left:0px!important;
}

.footer-logo {
	height: 100px;
    position: fixed;
    bottom: -10px;
    right: 0px;
}

td , th { color:#000!important; }

th { background: #cdcdcd; }

.no-padding {
	padding:0px!important;
}

.pointer {
	cursor: pointer;
}

.required {
	border: 2px solid #ff0000;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}


.valid {
	border-color: #00cc00;
	background: #dbf5b8;
}



.modal { 
	color: #000!important; 
}

/*campaign elements*/
.campaign_title { 
	background: #006699; 
	padding:2px; 
	margin:0; 
	color:#fff; 
}

.campaign_title h3 {
	font-size:1.5em;
}

.campaign_img { 
	padding:0!important; 
}

.caption { 
	padding-top:20px!important; 
}

.caption p { 
	text-align:left;
} 

.jumbotron {
	padding:45px 20px 45px 20px!important;
}

.jumbotron p , .jumbotron label , .jumbotron span { 
	color: #000; 
	font-size:1em;
}

.whiteBG {
	background: #fff;
}

.partecipazione .form-control[readonly]{
	background:#f5f5f5!important;
}

.form-title {
	color:#000!important;
}

.field_help {
	font-family: Verdana,Helvetica;
	font-size:.8em;
	color: #999;
}

.field-error {
	color: #cc0000;
}
.error p { 
	font-family: Verdana,Helvetica;
	font-size:.8em;
	color: #cc0000;
}

.premio-select {
	border-radius:10px;
}

.prize-selected {
	border: 4px solid #0099cc;
	border-radius:10px;
}

.prize-image { 
	margin-bottom:10px;
	width:100%;
}

.prize_description , .prize_description a {
	color: #fff;
	font-size: 1em!important;
	margin-top:20px;
}

.prize_description a {
	text-decoration:underline;
}

.jumbotron .prize_description , .jumbotron .prize_description a {
	color: #000;
}

.opaco {
	opacity: .6;
}

#myDropzone {
	height:300px;
	border:4px dashed #cecece;
}

.upload_thumb { 
	width:120px; 
	height:auto;
}

.tooltip-inner {
	background: #0066cc!important;
}

.notification { 
	width:100%; 
	padding:10px; 
	min-height:100px; 
	position:fixed; 
	color:#fff; 
	background:#444; 
	bottom:0; 
	display:none; 
	z-index:99999999999999;
}

.wizard {
	padding:0px!important;
	border-radius:20px!important;
}

.wizard-header { 
	width:100%;
	padding:20px;
	text-align:center;
	color: #000;
}

.wizard-footer {
	margin:30px 0 0 0;
}

.nav-tabs>li.active>a , .nav-tabs>li.active>a:visited, .nav-tabs>li.active>a:link , .nav-tabs>li.active>a:hover {
	background: #eb9316!important;
	color: #fff!important;
	border-radius:0px;
}



.wizard input {
	border-radius:5px;
	
}

.wizard-tab {
	background: #888!important;
	color: #fff!important;
	border:0!important;
	text-align:center;
}

.nav>.active {
	background: #eb9316!important;
	color: #fff!important;
	border:0!important;
	text-align:center;
}

.wizard-tab a:hover , .wizard-tab a:link , .wizard-tab a:visited {
	background: #888!important;
	color: #fff!important;
	border:0!important;
}

.wizard-tab a {
	color: #fff!important;
	border:0!important;
	font-size:1.5em;
}

.wizard .tab-content {
	padding:10px 20px 50px 20px!important;
	margin-bottom:50px;
}



.tab-pane {
	padding:10px 20px 50px 20px!important;
	color:#000;
}

.wizard .btn {
	border-radius:0px!important;
}

.wizard .btn .fa {
	color: #fff;
}

.dz-success-mark , .dz-error-mark {
	display:none!important;
}

.dz-message { 
	font-size:1.5em!important; 
	text-align:center!important;
}

.dz-error-message { 
	position:absolute;
	bottom:30px;
	text-align:center;
	font-size:1.2em!important; 
	color: #fff!important; 
	background: #ff0000!important; 
	border-radius:5px!important; 
	padding:4px!important; 
}

.table-bordered {
	border-color: #999!important;
}

#table1 {
	margin-bottom:20px!important;
}

.selected { background: #aeb9d0!important; }

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}